<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/"><button>Главная</button></a>
    <a href="/users"><button>Пользователи</button></a>
    <a href="/currencies"><button>Курсы валют</button></a>
    <a href="/author"><button>Информация об авторе</button></a>
  </header>
  <main>
    <h1 style="text-align: center;">Страница автора</h1>
    <h3>Автор - Фролов А.А.</h3>
    <p>Студент 2 курса, факультета ИВТ-2</p>
    <p>Краткая характеристика: позитивный</p>
    <a href="https://github.com/bluv4nul">github</a>
  </main>
</body>

</html>