<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currencies</title>
</head>

<body>
  <header>
      <a href="/"><button>Главная</button></a>
      <a href="/users"><button>Пользователи</button></a>
      <a href="/currencies"><button>Курсы валют</button></a>
      <a href="/author"><button>Информация об авторе</button></a>
  </header>
  <h1 style="text-align: center;">Информация о валютах</h1>
  <table border="1" style="margin: 0 auto; text-align: center;">
    <tr>
      <td>Char Code</td><td>Name</td><td>Value</td><td>Num Code</td>
    </tr>
    {% for cur in currencies %}
    <tr>
      <td>{{cur._char_code}}</td>
      <td>{{cur._name}}</td>
      <td>{{cur._value}}</td>
      <td>{{cur._num_code}}</td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>