<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
</head>

<body>
  <header>
      <a href="/"><button>Главная</button></a>
      <a href="/users"><button>Пользователи</button></a>
      <a href="/currencies"><button>Курсы валют</button></a>
      <a href="/author"><button>Информация об авторе</button></a>
  </header>
  <main>
    <h1 style="text-align: center;">Главная страница</h1>
    <p style="text-align: center;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo in velit amet facilis quod, quia eligendi
      perspiciatis harum sed ex iste hic! Inventore aperiam quos consequatur, amet quod quisquam vero?
    </p>
  </main>
</body>
</html>