<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href=../static/main.css">
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/index.css">
</head>

<body>
  <header>
    <nav class="left-section">
      <a href="/"><button>Главная</button></a>
      <a href="/users"><button>Пользователи</button></a>
      <a href="/currencies"><button>Курсы валют</button></a>
      <a href="/author"><button>Информация об авторе</button></a>
    </nav>
    <div class="right-section">
      <input class="" type="text" placeholder="Поиск пользователя по id">
    </div>
  </header>
  <main>
  </main>
</body>
</html>