<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>

<body>
  <header>
      <a href="/"><button>Главная</button></a>
      <a href="/users"><button>Пользователи</button></a>
      <a href="/currencies"><button>Курсы валют</button></a>
      <a href="/author"><button>Информация об авторе</button></a>
  </header>
  <h1 style="text-align: center;">Список пользователей</h1>
  <table border="1" style="margin: 0 auto; text-align: center;">
    <tr>
      <td>id</td><td>Name</td><td>User page</td>
    {% for user in users %}
    <tr>
      <td>{{user._id}}</td>
      <td>{{user._name}}</td>
      <td><a href="user?id={{user._id}}">link</a></td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>