header {
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 8px 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.left-section{
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 2
}

.right-section{
  display: flex;
  align-items: center;
  margin-right: 20px;
  max-width: 700px;
  flex: 1
}

.left-section button {
  font-family: Roboto, Arial;
  padding: 12px 24px;
  margin-right: 25px;
  font-size: 16px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-weight: 500;
  transition: background-color 200ms;
  transition: border 0ms;
}

.left-section button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.right-section input {
  font-family: Roboto, Arial;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 16px;
  padding: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: none;
  text-align: center;
  flex: 1;
  width: 0;
  min-width: 0;
}

.right-section input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

