.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}